- if gif.videoable?
  %video{preload: "auto", autoplay: "autoplay", muted: "muted", loop: "loop" }
    %source{src: gif.url_for_format('.mp4'), type: "video/mp4"}
    %source{src: gif.url_for_format('.webm'), type: "video/webm"}
- else
  = link_to gif_path(gif) do
    = image_tag gif.url, alt: gif.title
