---
http_interactions:
- request:
    method: get
    uri: https://api.imgur.com/3/image/cp3b6Ra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID 2c27e1e48ed8218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Clientlimit:
      - '12500'
      X-Ratelimit-Clientremaining:
      - '12498'
      X-Ratelimit-Userlimit:
      - '500'
      X-Ratelimit-Userremaining:
      - '497'
      X-Ratelimit-Userreset:
      - '1404588659'
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"cp3b6Ra\",\"title\":null,\"description\":null,\"datetime\":1404539531,\"type\":\"image\\/gif\",\"animated\":true,\"width\":298,\"height\":201,\"size\":2092159,\"views\":5605,\"bandwidth\":11726551195,\"favorite\":false,\"nsfw\":false,\"section\":null,\"link\":\"http:\\/\\/i.imgur.com\\/cp3b6Ra.gif\"},\"success\":true,\"status\":200}"
  recorded_at: Sat, 05 Jul 2014 19:23:07 GMT
recorded_with: VCR 2.8.0
