= link_to image_tag('tweet.png'), "https://twitter.com/share?text=#{gif.title.gsub(/ /, '+')}&url=#{CGI.escape gif_url(gif)}", class: 'tweet_button', target: :blank

.fb-like{"data-font" => "arial", "data-href" => gif_url(gif), "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "70"}

= link_to "Link", gif_url(gif)
