.big_button
  background-color: #33ADFF
  border-radius: 3px
  text-decoration: none
  color: #fff
  border: 1px solid #37A4FF
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08)
  text-align: center
  padding: 5px 30px

.social > a img, .fb-like
  vertical-align: middle

.destructive_action
  color: #aa0000
