#main_header
  h1
    font-weight: 500
    margin: 0
    line-height: 2em
    font-size: 20px
    a
      color: #727272
      text-decoration: none
      &:hover
        color: $link-hover-color

a.heading
  text-decoration: none
  color: $font-color

.user_message
  text-align: center
  font-size: 30px
