.gif
  padding: 40px 3%
  min-height: 300px
  width: 100%

.gif_body
  margin-top: 0.83em
  max-width: 520px
  padding: 0 3%
  img
    width: 100%

.gif_secondary
  margin-top: 1.2em

.comments
  background-color: white
  width: 100%
  h3
    margin: 1em 2em

.editable_gif
  background-color: white
  padding: 2em
  border-bottom: 1px solid #ddd
.preview
  max-width: 450px
