$device-width-threshold: 480px
$width-threshold: 800px

#main_header
  padding: 4px 5%

.content
  width: 95%
  margin: 0 auto
  max-width: 960px

.random_button
  float: right
  margin-top: 11px

.fb-comments
  padding: 20px 3%
  width: 100%
  text-align: center

.fb-like
  display: inline-block
  width: 80px

.tweet_button img
  margin-bottom: -2px

.user_message
  padding: 30px
  display: none

nav.show
  width: 100%
  margin-top: 2em
  a
    vertical-align: middle
    line-height: 2em
    margin: 0.5em 1%
    display: inline-block
    min-width: 30px
    text-align: center
    border-radius: 5px
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

form
  input, label, select
    margin: 5px

.google_ad
  background-color: white
  overflow: hidden
  max-width: 100%
  padding-top: 1em
  padding-bottom: 1em
  border-bottom: 1px solid #ddd
  .ad
    width: 728px
    margin: auto

.gif_body, .gif_secondary
  width: 100%
  float: none
  text-align: center
  margin-left: auto
  margin-right: auto
@media only screen and (max-device-width: #{$device-width-threshold}), screen and (max-width: #{$width-threshold})
  #content
    width: 90%
    margin: 0 5%
  nav.show .label
    display: none

@media only screen and (max-width: 600px)
  #main_header
    padding: 0.5em
    h1
      font-size: 12px
      text-align: center
  .random_button
    display: none

.social_stripe
  font-size: 0.9em
  color: #1d2069
  text-align: center
  background-color: white
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd
  padding-top: 4px
  padding-bottom: 4px
